a,
.btn-link,
.page-title {
    color: #007bff;
}

.text-primary {
    color: #007bff !important;
}

.text-primary-hover:hover {
    color: #0062cc !important;
}

h1,
footer .social a:hover,
footer .links a:hover,
a:hover,
.text-primary,
.btn-link:hover {
    color: #0062cc;
}

.btn-primary,
.bg-primary,
.progress-bar,
.list-group-item.active,
.dropdown-item.active,
.dropdown-item:active,
.form-check-input:checked {
    background-color: #007bff !important;
}

.bg-primary-darker {
    background-color: #0062cc !important;
}

.btn-primary,
.list-group-item.active,
.form-check-input:checked {
    border-color: #007bff;
}

.form-control:focus,
.custom-select:focus {
    border-color: #007bff !important;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-primary:hover,
.btn-primary.active {
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.accordion-button:not(.collapsed) {
    color: #007bff;
    border: 1px solid #007bff;
}
