a,
.btn-link,
.page-title {
    color: #00db12;
}

.text-primary {
    color: #00db12 !important;
}

.text-primary-hover:hover {
    color: #00a80e !important;
}

h1,
footer .social a:hover,
footer .links a:hover,
a:hover,
.text-primary,
.btn-link:hover {
    color: #00a80e;
}

.btn-primary,
.bg-primary,
.progress-bar,
.list-group-item.active,
.dropdown-item.active,
.dropdown-item:active,
.form-check-input:checked {
    background-color: #00db12 !important;
}

.bg-primary-darker {
    background-color: #00a80e !important;
}

.btn-primary,
.list-group-item.active,
.form-check-input:checked {
    border-color: #00db12;
}

.form-control:focus,
.custom-select:focus {
    border-color: #00db12 !important;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #00db12 !important;
    border-color: #00db12 !important;
}

.btn-primary:hover,
.btn-primary.active {
    background-color: #00db12 !important;
    border-color: #00db12 !important;
}

.accordion-button:not(.collapsed) {
    color: #00db12;
    border: 1px solid #00db12;
}
