a,
.btn-link,
.page-title {
    color: #ff00cc;
}

.text-primary {
    color: #ff00cc !important;
}

.text-primary-hover:hover {
    color: #cc00a3 !important;
}

h1,
footer .social a:hover,
footer .links a:hover,
a:hover,
.text-primary,
.btn-link:hover {
    color: #cc00a3;
}

.btn-primary,
.bg-primary,
.progress-bar,
.list-group-item.active,
.dropdown-item.active,
.dropdown-item:active,
.form-check-input:checked {
    background-color: #ff00cc !important;
}

.bg-primary-darker {
    background-color: #cc00a3 !important;
}

.btn-primary,
.list-group-item.active,
.form-check-input:checked {
    border-color: #ff00cc;
}

.form-control:focus,
.custom-select:focus {
    border-color: #ff00cc !important;
}

.btn-primary:hover,
.btn-primary.hover,
.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #ff00cc !important;
    border-color: #ff00cc !important;
}

.btn-primary:hover,
.btn-primary.active {
    background-color: #ff00cc !important;
    border-color: #ff00cc !important;
}

.accordion-button:not(.collapsed) {
    color: #ff00cc;
    border: 1px solid #ff00cc;
}
